<button class="btn btn-outline-light btn-block dropdown-toggle" type="button" id="dropdownMenuButton"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  Vezeték Keresztnév
</button>
<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
  <div class="dropdown-item disabled form-inline">
    <a href="/user"><h6>Adataim</h6></a>
    <p></p>
    <a href="/user/apps"><h6>Pályázataim</h6></a>
    <p></p>
    <a href="/user/modpsw"><h6>Jelszó módosítás</h6></a>
    <p></p>
    <a href="/logout"><h6>Kijelentkezés</h6></a>
  </div>
</div>