<% if ( request.path == "/apps" || request.path == "/user/apps" || request.path == "/apps/:id/rec") %>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Pályázat beküldése</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <label class="btn btn-outline-dark " for="my-file-selector">
          <input id="my-file-selector" type="file" accept=".pdf, .txt, .doc, .docx" style="display:none"
                 onchange="$('#upload-file-info').html(this.files[0].name)">
          Fájl böngésző
        </label>
        <span class='label label-info' id="upload-file-info"></span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Mégse</button>
        <button type="button" class="btn btn-primary">Küldés</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<% end %>
